body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10rem;
  background: linear-gradient(to right, rgb(22, 157, 135), rgb(20, 80, 91));
  font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: -5px;
}
.content__card {
  background: linear-gradient(to right, #ed213a, #93291e);
  height: 16rem;
  width: 12rem;
  padding: 1rem 1rem;
  margin-top: -5px;
  border: .5px solid rgba(128, 128, 128, .7);
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba(68, 61, 61, .9);
  color: aliceblue;
}
.weather__desciprion {
  display: flex;
  padding-bottom: 0px;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: rgba(24, 109, 184, 0.486); */
}
.temperature {
  font-size: 7.2em;
  padding-top: 0px;
  /* background-color: rgba(240, 248, 255, 0.486); */
  margin-top: -30px;
}