body {
  margin: 0;
  height: 90vh;
  font-family: 'Open Sans Condensed', sans-serif;
}
.container {
  display: flex;
  flex-direction: row;
  height: 60vh;
  background-color: rgb(0, 255, 255);
}
.cards {				
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.instructions {
  display: flex;
  width: 36vw;
  height: 60vh;
  margin: 0 10px;
  font-size: 1.6em;
  color: rgba(255, 255, 255, 1);
  text-shadow: -1px 3px 0px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
h1 {
  font-size: 5em;
  text-align: center;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: magenta;
  text-shadow: -18px 14px 8px rgba(0, 0, 0, 0.1);
  color: transparent;
}
h2 {
  font-size: 1.8em;
}
h3 {
  padding: 10px 30px;
  background-color: magenta;
  text-align: end;
}
p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}
[class^="card__"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 60vw;
  margin: 0;
  padding: 1rem .5rem;
  box-shadow: -2rem 2.5rem 4rem rgba(68, 61, 61, .9);
  color: aliceblue;
}
.card__question {
  color: white;
  text-shadow: -2px 4px 0px rgba(0, 0, 0, 0.2);
  background: magenta;
  padding-left: 2%;
  justify-content: space-around;
  align-items: flex-start;
}
.card__answer {
  background: rgba(0, 0, 0, 0.6);
  border: 3px solid rgba(0, 0, 0, 0.1);
  height: 8rem;
  width: 24rem;
  margin-left: 30vw;
  font-size: 1.6em;
}
.card__answer:hover {
  background: #00FF56;
  border: 3px solid #00FF56;
}

.card__answer > h2 {
  margin-left: 0;
  padding: 0;
  text-align: center;
  visibility: hidden;
  transition: all 300ms;
  color: transparent;
 /*  transition-timing-function: ease-in; */
}
.card__answer:hover > h2 {
  visibility: visible;
 /*  transition-timing-function: ease-out; */
  transition: all 300ms;
  color: white;
}
button {
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  background: black;
  color: aliceblue;
  transition: all 150ms;
}
button:hover {
  transition: all 150ms;
  border: 3px solid #00FF56;
  color: #00FF56;
  box-shadow: 0 1.5rem 2rem rgba(68, 61, 61, .4);
}