body {
  margin: 0;
  background: linear-gradient(217deg, rgba(255,0,0,.6), rgba(255,0,0,0) 75.71%),
  linear-gradient(127deg, rgba(0,255,0,.5), rgba(179, 255, 0, 0) 70.71%),
      linear-gradient(316deg, rgba(0,0,255,.6), rgba(0,0,255,0) 85.71%);
      font-family: 'Open Sans Condensed', sans-serif;
}
div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
h1 {
  color: rgba(245, 245, 245, 1);
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: rgba(0, 0, 0, .8);
  text-shadow: -18px 14px 4px rgba(0, 0, 0, 0.16);
  font-size: 14vw;
}