:root {
  --main-blue-color:#24292e;
}
body {
font-family: 'Lato', sans-serif;
display: flex;
margin: 0;
font-size: 2rem;
color: var(--main-blue-color);
}
nav {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
align-content: center;
position: fixed;
padding: 2px 0 3px 0;
top: 0px;
background: var(--main-blue-color);
width: 100vw;
height: 50px;
}
.octicon {
background-color: var(--main-blue-color);
width: 50px;
margin-left: 1%;
fill: whitesmoke;
}
form {
height: 50px;
align-items: center;
} 
input {
padding-inline-start: 5px;
}
.search {
background-color: rgba(255, 255, 255, 0.15);
color: rgba(255, 255, 255, 0.7);
border-radius: .25em;
border: none;
height: 32px;
width: 260px;
}
.title {
  text-transform: uppercase;
  padding-top: .5em;
  text-align: center;
}
td,th {
  width: 600px;           
}
table {
border-collapse: collapse;
}
th {
  margin: 0rem;
  color: whitesmoke;
  background-color: rgba(36, 41, 46, 0.9);
  position: sticky;
  top: 55px;
}
th:first-child {
  /* background-color: rgba(255, 255, 255, 0.8); */
  width: 50px;
}
td:first-child {
  border-radius: 0 10% 10% 0;
}
td {
text-indent: 2%;
}
th:last-child {
  border-radius: 0 0 5px 0;
}
tr:hover {
background-color: rgba(36, 41, 46, 0.08);
}
a {
color: rgba(47, 36, 255, 0.8);
text-decoration: none;
}
a:hover {
color: rgb(47, 36, 255);
text-decoration: underline; 
}
.avatar {
width: 1.4em;
padding: .1em .4em 0 .3em;
}
img {
  border: 2px solid rgb(45, 98, 81);
  border-radius: 50%;
  box-shadow: .1em .05em .25rem .09rem rgba(0, 0, 0, 0.4);
  height: 1.4em;
}