body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: radial-gradient(circle, rgba(22, 157, 135) 20%, rgb(0, 104, 87));
  font-family: 'Open Sans Condensed', sans-serif;
  color: whitesmoke;
  font-size: 3vw;
}
h1 {
  font-size: 8vw;
  text-shadow: -18px 14px 4px rgba(0, 0, 0, 0.16);
}
button {
  color: whitesmoke;
  margin: 0 .4rem;
  height: 40px;
  width: 50px;
  border-radius: 10px;
  border: .15em solid transparent;
  background: rgba(157, 22, 123, .7);
  box-shadow: -.8rem .5rem .5rem rgba(68, 61, 61, .4);
}
button:hover{
  transition: all 200ms;
  border: .15em solid rgba(245, 245, 245, 0.6);
}
button:active{
  box-shadow: none;
  background: rgba(157, 22, 123,5);
}
[class$='__plus']:active {
  border: .5em double rgb(22, 157, 56);
}
[class$='__minus']:active {
 /*  background: rgb(157, 22, 123); */
  border: .5em double rgb(157, 0, 18);
}
.btn--reset {
  height: 40px;
  width: 80px;
  background: rgb(238, 33, 57);
}
.btn--reset:active {
  font-size: 1rem;
  background-color: rgb(157, 0, 18);
  border: .5em double rgb(238, 33, 57);
  transition: all 150ms;
}